<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J. Blake</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/css/uikit.min.css" />
</head>
<body>
    
    <nav class="uk-background-default uk-dark" uk-navbar >
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li class="uk-active uk-text-bolder"><a href="/">James Blake</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="uk-text-center">Albums</h1>
    <br>

    <div class="uk-child-width-1-2@m" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-text-center">
                <div class="uk-card-media-top">
                    <img src="/images/friendsT.jpeg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><a target="_blank" class="uk-text-decoration-none uk-link-muted" href="https://open.spotify.com/album/1zNtJFMCNIyT0X19jpcI3j?si=JXx9TxcJS6mhhblYSNiiQw"><img src="/images/spotify.png" width="20" alt=""> Friends That Break Your Heart</a></h3>
                    <p><b>Year </b>2013 - 10 Songs, 39 min 29 sec</p>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-text-center">
                <div class="uk-card-media-top">
                    <img src="/images/asummeF.jpg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><a target="_blank" class="uk-text-decoration-none uk-link-muted" href="https://open.spotify.com/album/3VpbXPsAOhcp3duHhkye8g?si=llD4AXuWQbWXR6W8klLCsA"><img src="/images/spotify.png" width="20" alt=""> Assume Form</a></h3>
                    <p><b>Year </b>2019 - 13 Songs, 51 min 23 sec</p>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-text-center">
                <div class="uk-card-media-top">
                    <img src="/images/thecolour.jpeg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><a target="_blank" class="uk-text-decoration-none uk-link-muted" href="https://open.spotify.com/album/1WyrGCkFDlH1xPadZ5qTkL?si=gohuW50iTCObBKolIOFZVA"><img src="/images/spotify.png" width="20" alt=""> The Colour In Anything</a></h3>
                    <p><b>Year </b>2016 - 16 Songs, 1 hr 16 min</p>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-text-center ">
                <div class="uk-card-media-top">
                    <img src="/images/overgrown.jpg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"><a target="_blank" class="uk-text-decoration-none uk-link-muted" href="https://open.spotify.com/album/53FEYOXnplxBWoQMmWn82U?si=4LACNjndSdSLXgc0zjI5qQ"><img src="/images/spotify.png" width="20" alt=""> Overgrown</a></h3>
                    <p><b>Year </b>2013 - 10 Songs, 39 min 29 sec</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit-icons.min.js"></script>
</body>
</html>